extends base 
block append head 
  script(src='https://js.stripe.com/v3/')

block content 

  section.breadcrumb-option
    .container
      .row
        .col-lg-12
          .breadcrumb__text
            h4 Shopping Cart
            .breadcrumb__links
              a(href='index.html') Home
              a(href='shop.html') Shop
              span Shopping Cart
  // Breadcrumb Section End
  // Shopping Cart Section Begin
  section.shopping-cart.spad
    .container
      .row
        .col-lg-8
          .shopping__cart__table
            table
              thead
                tr
                  th Product
                  th Quantity
                  th Total
                  th
              tbody
                each product in cart
                  tr
                    td.product__cart__item
                      .product__cart__item__pic
                        //- img(src='/img/shopping-cart/cart-1.jpg' alt='')
                        model-viewer#pro-image-cart(
                          src=`/img/products/${product.product_id.image}`
                          alt='A 3D model of a table'
                          auto-rotate
                          camera-controls
                          ar
                          ar-modes="scene-viewer quick-look"
                          )
                      .product__cart__item__text
                        h6= product.product_id.name
                        - const formattedPrice = product.product_id.price.toFixed(2)
                        h5= `$${formattedPrice}`
                    td.quantity__item
                      .quantity
                        .pro-qty-2
                          input(type='number' name='quantity' data-product-id=product.product_id._id min=1 value=`${product.quantity}` id=`quantity-${product.product_id._id}` )
                    - const totalPrice = (formattedPrice * product.quantity).toFixed(2)
                    td.cart__price= `$${totalPrice}`
                    td.cart__close
                      i.fa.fa-close#delete-cart-btn(data-product-id=`${product.product_id._id}`)
                    td.cart__update
                      i.fa-regular.fa-floppy-disk#update-cart-btn(data-product-id=`${product.product_id._id}`)
                
          .row
            .col-lg-6.col-md-6.col-sm-6
              .continue__btn
                //- a(href='#') Continue Shopping
            .col-lg-6.col-md-6.col-sm-6
              .continue__btn.update__btn
                a.update-cart-btn#updateCartBtn(type='button')
                  i.fa.fa-spinner
                  |  Continue Shopping
        .col-lg-4
          .cart__total
            h6 Cart total
            ul
              //- li
              //-   | Subtotal 
              //-   span $ 169.50
              li
                | Total 
                span= `$${finalPrice}`
            a.primary-btn#checkout-btn(href='#') Proceed to checkout
  // Shopping Cart Section End
