extends base 

mixin categoryItem(category)
  - const categoryUC = category.toUpperCase();
  li.select-category(data-category=`${category}`)
    a(href='#')= categoryUC

mixin priceRange(min, max)
  li.price-range(data-min=min, data-max=max)
    a(href='#')= `Rs ${min} - Rs ${max||'++'}`
    //- a(href='#') Rs 0.00 - Rs 50.00

block content
  section.breadcrumb-option
    .container
      .row
        .col-lg-12
          .breadcrumb__text
            h4 Products
            .breadcrumb__links
              a(href='index.html') Home
              span Products

  // Shop Section Begin
  section.shop.spad
    .container
      .row
        .col-lg-3
          .shop__sidebar
            .shop__sidebar__search
              form(id='searchForm')
                input(type='text', id='search-product-name', placeholder='Search ...')
                button(type='submit')

                  span.icon_search
            .shop__sidebar__accordion
              #accordionExample.accordion
                .card
                  a#btn-clear-filter Clear Filter
                .card
                  .card-heading
                    a(data-toggle='collapse' data-target='#collapseOne') Categories
                  #collapseOne.collapse.show(data-parent='#accordionExample')
                    .card-body
                      .shop__sidebar__categories
                        // Extract unique categories from the products array
                        - const uniqueCategories = [...new Set(products.map(product => product.category))];

                        ul.nice-scroll
                          // Use the mixin to create the list
                          //- each category in uniqueCategories
                            //- +categoryItem(category)
                          +categoryItem('chairs')
                          +categoryItem('sofa')
                          +categoryItem('tables')

                        //- ul.nice-scroll
                        //-   li
                        //-     a(href='#') chair
                        //-   li
                        //-     a(href='#') Chairs
                          
                .card
                  .card-heading
                    a(data-toggle='collapse' data-target='#collapseThree') Filter Price
                  #collapseThree.collapse.show(data-parent='#accordionExample')
                    .card-body
                      .shop__sidebar__price
                        ul
                          +priceRange(0, 5000)
                          +priceRange(5000, 10000)
                          +priceRange(10000, 20000)
                          +priceRange(20000, 30000)
                          +priceRange(30000, 50000)
                          +priceRange(50000, 100000)
                          
                          //- li
                          //-   a(href='#') Rs 0.00 - Rs 50.00
                          //- li
                          //-   a(href='#') Rs 50.00 - Rs 100.00
                          //- li
                          //-   a(href='#') Rs 100.00 - Rs 150.00
                          //- li
                          //-   a(href='#') Rs 150.00 - Rs 200.00
                          //- li
                          //-   a(href='#') Rs 200.00 - Rs 250.00
                          //- li
                          //-   a(href='#') 250.00+
                //- .card
                //-   .card-heading
                //-     a(data-toggle='collapse' data-target='#collapseSix') Tags
                //-   #collapseSix.collapse.show(data-parent='#accordionExample')
                //-     .card-body
                //-       .shop__sidebar__tags
                //-         a(href='#') Sofa
                //-         a(href='#') Chair
                //-         a(href='#') Tables
                //-         a(href='#') Paintings
                //-         a(href='#') Clocks
                //-         a(href='#') Office Chair
                //-         a(href='#') Accessories
        .col-lg-9
          .shop__product__option
            .row
              .col-lg-6.col-md-6.col-sm-6
                .shop__product__option__left
                  //- p Showing 1&ndash;12 of 126 results
              .col-lg-6.col-md-6.col-sm-6
                .shop__product__option__right
                  - function capitalizeWords(str) {
                  -   return str.replace(/\b\w/g, function (char) {
                  -     return char.toUpperCase();
                  -   });
                  - }

                  - function formatPriceRange(val) {
                  -   const gteMatch = val.match(/gte=(\d+)/);
                  -   const lteMatch = val.match(/lte=(\d+)/);
                  -   const gte = gteMatch ? gteMatch[1] : '';
                  -   const lte = lteMatch ? lteMatch[1] : '';
                  -   return `[${gte} - ${lte}]`;
                  - }

                  if queryString && typeof queryString === 'object' && Object.keys(queryString).length > 0
                    p Your current filter settings are: 
                      each val, key in queryString
                        if key === 'price'
                          | #{capitalizeWords(key)}: #{formatPriceRange(val)}
                        else
                          | #{capitalizeWords(key)}: #{capitalizeWords(val)}
                        br



          .row
            if products 
              each product in products
                .col-lg-4.col-md-6.col-sm-6
                  .product__item
                    //- .product__item__pic.set-bg(data-setbg='img/product/armchair.glib')
                    model-viewer#modelViewer.product__item__pic(
                      src=`/img/products/${product.image}`
                      alt='A 3D model of a table'
                      auto-rotate
                      camera-controls
                      ar
                      ar-modes="scene-viewer webxr quick-look"
                      ) 
                      button(
                        slot="ar-button"
                        id="ar-button"
                      ) View in your space

                      div(
                        id="ar-prompt"
                        slot="ar-prompt"
                      ) Move your phone to scan the room
                    
                      ul.product__hover
                        //- li
                        //-   a(href='#')
                        //-     img(src='img/icon/heart.png' alt='')
                        li
                          a#ar-button(href='#')
                            //- img(src='img/icon/compare.png' alt='')
                            //- i.fa-solid.fa-vr-cardboard.ar-icon
                            i.fa-brands.fa-unity.ar-icon
                            span Visualize
                        //- li
                        //-   a(href='#')
                        //-     img(src='img/icon/search.png' alt='')
                    div.product__item-detail-box
                      .product__item__text
                        h6= product.name
                        a.add-cart(href='#' id="addToCartButton" data-product-id=`${product._id}` data-quantity="1") + Add To Cart
                        //- .rating
                        //-   i.fa.fa-star-o
                        //-   i.fa.fa-star-o
                        //-   i.fa.fa-star-o
                        //-   i.fa.fa-star-o
                        //-   i.fa.fa-star-o
                        h5= `PKR ${product.price}`
                        
                      a.btn.btn-view-detail(href=`/product/${product._id}`) View Detail

              else 
                p#no-product-text There is no product for your current Filter Setting.      

          //- .row
          //-   .col-lg-12
          //-     .product__pagination
          //-       a.active(href='#') 1
          //-       a(href='#') 2
          //-       a(href='#') 3
          //-       span ...
          //-       a(href='#') 21
  // Shop Section End


    
