extends base 

block content
  section.breadcrumb-option
    .container
      .row
        .col-lg-12
          .breadcrumb__text
            h4 Products
            .breadcrumb__links
              a(href='index.html') Home
              span Products

  // Shop Section Begin
  section.shop.spad
    .container
      .row
        .col-lg-3
          .shop__sidebar
            .shop__sidebar__search
              form(action='#')
                input(type='text' placeholder='Search...')
                button(type='submit')
                  span.icon_search
            .shop__sidebar__accordion
              #accordionExample.accordion
                .card
                  .card-heading
                    a(data-toggle='collapse' data-target='#collapseOne') Categories
                  #collapseOne.collapse.show(data-parent='#accordionExample')
                    .card-body
                      .shop__sidebar__categories
                        ul.nice-scroll
                          li
                            a(href='#') school chair
                          li
                            a(href='#') Chairs
                          li
                            a(href='#') Tables
                          li
                            a(href='#') Decor Pieces
                          li
                            a(href='#') Sofa
                          li
                            a(href='#') interior
                          li
                            a(href='#') bookcase
                          
                //- .card
                  .card-heading
                    a(data-toggle='collapse' data-target='#collapseTwo') Branding
                  #collapseTwo.collapse.show(data-parent='#accordionExample')
                    .card-body
                      .shop__sidebar__brand
                        ul
                          li
                            a(href='#') Louis Vuitton
                          li
                            a(href='#') Chanel
                          li
                            a(href='#') Hermes
                          li
                            a(href='#') Gucci
                .card
                  .card-heading
                    a(data-toggle='collapse' data-target='#collapseThree') Filter Price
                  #collapseThree.collapse.show(data-parent='#accordionExample')
                    .card-body
                      .shop__sidebar__price
                        ul
                          li
                            a(href='#') Rs 0.00 - Rs 50.00
                          li
                            a(href='#') Rs 50.00 - Rs 100.00
                          li
                            a(href='#') Rs 100.00 - Rs 150.00
                          li
                            a(href='#') Rs 150.00 - Rs 200.00
                          li
                            a(href='#') Rs 200.00 - Rs 250.00
                          li
                            a(href='#') 250.00+
                .card
                  .card-heading
                    a(data-toggle='collapse' data-target='#collapseSix') Tags
                  #collapseSix.collapse.show(data-parent='#accordionExample')
                    .card-body
                      .shop__sidebar__tags
                        a(href='#') Sofa
                        a(href='#') Chair
                        a(href='#') Tables
                        a(href='#') Paintings
                        a(href='#') Clocks
                        a(href='#') Office Chair
                        a(href='#') Accessories
        .col-lg-9
          .shop__product__option
            .row
              .col-lg-6.col-md-6.col-sm-6
                .shop__product__option__left
                  //- p Showing 1&ndash;12 of 126 results
              .col-lg-6.col-md-6.col-sm-6
                .shop__product__option__right
                  p Sort by Price:
                  select
                    option(value='') Low To High
                    option(value='') $0 - $55
                    option(value='') $55 - $100
          .row
            each product in products
              .col-lg-4.col-md-6.col-sm-6
                .product__item
                  //- .product__item__pic.set-bg(data-setbg='img/product/armchair.glib')
                  model-viewer#modelViewer.product__item__pic(
                    src=`/img/products/${product.image}`
                    alt='A 3D model of a table'
                    auto-rotate
                    camera-controls
                    ar
                    ar-modes="scene-viewer webxr quick-look"
                    ) 
                    button(
                      slot="ar-button"
                      id="ar-button"
                    ) View in your space

                    div(
                      id="ar-prompt"
                      slot="ar-prompt"
                    ) Move your phone to scan the room
                  
                    ul.product__hover
                      //- li
                      //-   a(href='#')
                      //-     img(src='img/icon/heart.png' alt='')
                      li
                        a#ar-button(href='#')
                          //- img(src='img/icon/compare.png' alt='')
                          //- i.fa-solid.fa-vr-cardboard.ar-icon
                          i.fa-brands.fa-unity.ar-icon
                          span Visualize
                      //- li
                      //-   a(href='#')
                      //-     img(src='img/icon/search.png' alt='')
                  div.product__item-detail-box
                    .product__item__text
                      h6= product.name
                      a.add-cart(href='#' id="addToCartButton" data-product-id=`${product._id}` data-quantity="1") + Add To Cart
                      //- .rating
                      //-   i.fa.fa-star-o
                      //-   i.fa.fa-star-o
                      //-   i.fa.fa-star-o
                      //-   i.fa.fa-star-o
                      //-   i.fa.fa-star-o
                      h5= `PKR ${product.price}`
                      
                    a.btn.btn-view-detail(href=`/product/${product._id}`) View Detail

          .row
            .col-lg-12
              .product__pagination
                a.active(href='#') 1
                a(href='#') 2
                a(href='#') 3
                span ...
                a(href='#') 21
  // Shop Section End


    
