extends base 

block content  
  // Shop Details Section Begin
  section.shop-details
    .product__details__pic
      .container
        .row
          .col-lg-12
            .product__details__breadcrumb
              a(href='index.html') Home
              a(href='shop.html') Shop
              span Product Details
        .row
          model-viewer#modelViewer.product__item__pic(
            src=`/img/products/${product.image}`
            alt='A 3D model of a table'
            auto-rotate
            camera-controls
            ar
            ar-modes="scene-viewer quick-look"
            )
          a#ar-button.ar-button-detail(href='')
            i.fa-brands.fa-unity.ar-icon
    .product__details__content
      .container
        .row.d-flex.justify-content-center
          .col-lg-8
            .product__details__text
              h4= product.name
              //- .rating
              //-   i.fa.fa-star
              //-   i.fa.fa-star
              //-   i.fa.fa-star
              //-   i.fa.fa-star
              //-   i.fa.fa-star-o
              //-   span  - 5 Reviews
              - const formattedPrice = product.price.toFixed(2);

              h3= `PKR ${formattedPrice}`
                //- span 70.00
              p= product.description
              .product__details__cart__option
                .quantity
                  .pro-qty
                    input(type='text' value='1' id='quantityInput')
                a.primary-btn(href='#' id="addToCartButton" data-product-id=`${product._id}` data-quantity="1") add to cart